{% extends 'layouts/page.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: error,
              href: "#preference"
            }
          ]
        }) }}
      {% endif %}

      <form method="post" novalidate>
        {{ govukRadios({
          name: "preference",
          fieldset: {
            legend: {
              text: heading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "This will determine how we greet you at the end of the journey"
          },
          errorMessage: {
            text: error
          } if error,
          items: [
            {
              value: "formal",
              text: "Formal (we'll ask for your name)",
              checked: selectedPreference === "formal"
            },
            {
              value: "casual",
              text: "Casual (no name required)",
              checked: selectedPreference === "casual"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
