{% extends 'layouts/page.njk' %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ heading }}</h1>

  <p class="govuk-body">
    This prototype contains different user journeys that will be trialled with stakeholders. Select a journey below to access the journey.
  </p>

  <h2 class="govuk-heading-m">Basic Examples</h2>
  <p class="govuk-body">Simple forms demonstrating core functionality of the DEFRA Forms Engine V2.</p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Form</th>
        <th scope="col" class="govuk-table__header">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="/contact/contact" class="govuk-link">Contact Form</a>
        </td>
        <td class="govuk-table__cell">
          Simple contact form with text fields, email validation, and multi-line message input.
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="/conditional-routing/choose-path" class="govuk-link">Conditional Routing Demo</a>
        </td>
        <td class="govuk-table__cell">
          Demonstrates conditional page routing based on radio button selection.
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="govuk-heading-m govuk-!-margin-top-7">Advanced Examples</h2>
  <p class="govuk-body">Complex implementations combining custom functionality with Forms Engine integration.</p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Application</th>
        <th scope="col" class="govuk-table__header">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="/edp-levy/applications" class="govuk-link">EDP Levy Calculator</a>
        </td>
        <td class="govuk-table__cell">
          Environmental Development Plan levy calculator with application management and conditional routing.
        </td>
      </tr>
    </tbody>
  </table>

{% endblock %}