{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "nrf-frontend-starter"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>Welcome to the NRF Frontend Starter application with forms engine support.</p>

        <h2 class="govuk-heading-m">Forms</h2>
        <p>Try out our forms powered by the DEFRA Forms Engine:</p>

        <div class="govuk-button-group">
          <a href="/contact-form" class="govuk-button" data-module="govuk-button">
            Contact Form
          </a>
          <a href="/forms" class="govuk-link">
            View all forms
          </a>
        </div>

        <h2 class="govuk-heading-m">Other Pages</h2>
        <p>
          <a href="/about" class="govuk-link">About this service</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
