{% extends 'layouts/page.njk' %}

{% block pageTitle %}
  {{ pageTitle or 'Environmental Development Plan Calculator' }} - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    {% block beforeContent %}
    {% endblock %}
    <main class="govuk-main-wrapper" id="main-content" role="main">
      {% block content %}
      {% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}