{% extends 'layouts/edp-base.njk' %}

{% block beforeContent %}
  {% include 'partials/back-link.njk' %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block formContent %}
      {% endblock %}
    </div>

    {% if showSidebar !== false %}
      <div class="govuk-grid-column-one-third">
        <aside class="govuk-!-padding-top-2">
          {% block sidebar %}
            {% include 'partials/progress-sidebar.njk' %}
          {% endblock %}
        </aside>
      </div>
    {% endif %}
  </div>
{% endblock %}