{% extends 'layouts/edp-base.njk' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application submitted",
        html: "Your reference number<br><strong>" + application.id + "</strong>"
      }) }}

      <p class="govuk-body">
        We have sent a confirmation email with your application details.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Your Environmental Development Plan levy application has been submitted successfully.
      </p>

      <p class="govuk-body">
        The levy amount for your development is:
      </p>

      <div class="govuk-inset-text">
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-bottom-1">
          {{ application.levyAmount }}
        </p>
        <p class="govuk-body-s">
          Due within 30 days
        </p>
      </div>

      <h3 class="govuk-heading-s">Payment instructions</h3>

      <p class="govuk-body">
        You'll receive payment instructions by email within 2 working days. Payment must be made before development work begins.
      </p>

      <p class="govuk-body">
        You can pay by:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Bank transfer (BACS)</li>
        <li>Debit or credit card online</li>
        <li>Cheque (allow 5 working days for processing)</li>
      </ul>

      <h3 class="govuk-heading-s">Your EDP certificate</h3>

      <p class="govuk-body">
        Once payment is received, we'll issue your Environmental Development Plan certificate. This must be displayed at your development site.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Make payment now",
          href: "#"
        }) }}
        {{ govukButton({
          text: "View all applications",
          classes: "govuk-button--secondary",
          href: "/edp-calculator/applications"
        }) }}
      </div>

      <p class="govuk-body">
        <a href="#" class="govuk-link">Download application summary (PDF)</a>
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-!-padding-top-2">
        <h3 class="govuk-heading-s">Application details</h3>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-body-s">
              Reference
            </dt>
            <dd class="govuk-summary-list__value govuk-body-s">
              {{ application.id }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-body-s">
              Date submitted
            </dt>
            <dd class="govuk-summary-list__value govuk-body-s">
              {{ application.date }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-body-s">
              Development
            </dt>
            <dd class="govuk-summary-list__value govuk-body-s">
              {{ application.name }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-body-s">
              Houses
            </dt>
            <dd class="govuk-summary-list__value govuk-body-s">
              {{ application.houses }}
            </dd>
          </div>
        </dl>

        <h3 class="govuk-heading-s govuk-!-margin-top-4">Need help?</h3>
        <ul class="govuk-list govuk-body-s">
          <li>
            <a href="#" class="govuk-link">Contact support</a>
          </li>
          <li>
            <a href="#" class="govuk-link">Payment help</a>
          </li>
          <li>
            <a href="#" class="govuk-link">FAQs</a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
{% endblock %}