{% extends 'layouts/edp-base.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/edp-calculator/location"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <p class="govuk-body">
        Use the map below to draw your development boundary. Click points on the map to create a polygon that represents your development area.
      </p>

      <div class="govuk-inset-text">
        Map functionality would be integrated here using a mapping library like Leaflet or OpenLayers
      </div>

      <div style="border: 2px dashed #b1b4b6; height: 400px; display: flex; align-items: center; justify-content: center; background: #f3f2f1; margin-bottom: 20px;">
        <p class="govuk-body" style="text-align: center; color: #505a5f;">
          Interactive map placeholder<br>
          Click to draw boundary points
        </p>
      </div>

      <form method="POST" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">
        <input type="hidden" name="boundary" value="">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save boundary and continue",
            type: "submit"
          }) }}
          {{ govukButton({
            text: "Clear boundary",
            classes: "govuk-button--secondary",
            type: "button"
          }) }}
        </div>
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-!-padding-top-2">
        <h3 class="govuk-heading-s">Drawing tips</h3>
        <ul class="govuk-list govuk-list--bullet govuk-body-s">
          <li>Click on the map to add boundary points</li>
          <li>Click the first point again to close the polygon</li>
          <li>You can drag points to adjust the boundary</li>
          <li>Use the clear button to start over</li>
        </ul>

        <h3 class="govuk-heading-s govuk-!-margin-top-4">Application progress</h3>
        <ol class="govuk-list govuk-list--number govuk-body-s">
          <li class="govuk-!-font-weight-bold">Location - Draw boundary</li>
          <li>EDP check</li>
          <li>Development details</li>
          <li>Review quote</li>
          <li>Payment</li>
        </ol>
      </aside>
    </div>
  </div>
{% endblock %}