{% extends 'layouts/edp-form.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set backLink = { href: "/edp-calculator/location" } %}

{% set progressSteps = [
  { text: "Location - Postcode", active: true },
  { text: "EDP check" },
  { text: "Development details" },
  { text: "Review quote" },
  { text: "Payment" }
] %}

{% block formContent %}
  {% include 'partials/error-summary.njk' %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>

  <p class="govuk-body">
    Enter the postcode of your development site. We'll use this to check if it falls within Environmental Development Plan boundaries.
  </p>

  <form method="POST" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}">

    {{ govukInput({
      label: {
        text: "Postcode",
        classes: "govuk-label--m"
      },
      hint: {
        text: "For example, SW1A 2AA"
      },
      id: "postcode",
      name: "postcode",
      value: postcode,
      classes: "govuk-input--width-10",
      autocomplete: "postal-code",
      errorMessage: fieldErrors.postcode if fieldErrors else null
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        type: "submit"
      }) }}
    </div>
  </form>
{% endblock %}