{% extends 'layouts/edp-base.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/edp-calculator/location"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'partials/error-summary.njk' %}

      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <p class="govuk-body">
        Enter the latitude and longitude coordinates of your development site.
      </p>

      <form method="POST" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        {{ govukInput({
          label: {
            text: "Latitude",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, 51.5074 (between -90 and 90)"
          },
          id: "latitude",
          name: "latitude",
          value: coordinates.latitude,
          classes: "govuk-input--width-10",
          errorMessage: fieldErrors.latitude if fieldErrors else null
        }) }}

        {{ govukInput({
          label: {
            text: "Longitude",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, -0.1278 (between -180 and 180)"
          },
          id: "longitude",
          name: "longitude",
          value: coordinates.longitude,
          classes: "govuk-input--width-10",
          errorMessage: fieldErrors.longitude if fieldErrors else null
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit"
          }) }}
        </div>
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-!-padding-top-2">
        <h3 class="govuk-heading-s">Application progress</h3>
        <ol class="govuk-list govuk-list--number govuk-body-s">
          <li class="govuk-!-font-weight-bold">Location - Coordinates</li>
          <li>EDP check</li>
          <li>Development details</li>
          <li>Review quote</li>
          <li>Payment</li>
        </ol>
      </aside>
    </div>
  </div>
{% endblock %}