{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {% if primaryButton %}
    {{ govukButton({
      text: primaryButton.text or "Continue",
      type: primaryButton.type or "submit",
      classes: primaryButton.classes,
      href: primaryButton.href
    }) }}
  {% endif %}

  {% if secondaryButton %}
    {{ govukButton({
      text: secondaryButton.text,
      classes: "govuk-button--secondary " + (secondaryButton.classes or ""),
      href: secondaryButton.href,
      type: secondaryButton.type
    }) }}
  {% endif %}

  {% for button in additionalButtons %}
    {{ govukButton(button) }}
  {% endfor %}
</div>