{
  key: {
    text: row.label,
    classes: row.keyClasses
  },
  value: {
    text: row.text,
    html: row.html,
    classes: row.valueClasses
  },
  {% if row.changeLink %}
  actions: {
    items: [
      {
        href: row.changeLink.href,
        text: row.changeLink.text or "Change",
        visuallyHiddenText: row.changeLink.hiddenText or row.label
      }
    ]
  }
  {% endif %}
}